@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=IM+Fell+French+Canon+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shalimar&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #252422;
}

a {
    text-decoration: none;
}

header{
    background-color: #d5d2c570;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    /*top-bottom right-left */
    padding: 10px 100px;
}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    /*em makes it relative to body default*/
    font-size: 1.8em;
}

.navigation a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    margin-top: 10px;   
}

.navigation a:hover{
    color: black;  
}

section{
    padding: 100px 200px;
    background-color: #d5d2c5;
}

.main{
    width: 100%;
    /*vh = view port = all screen*/
    min-height: 100vh;
    display: flex;
    /*should be with flex*/
    align-items: center;
    background: url(images/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    /*fix the pic when scrolling, but not working with iphone*/
    background-attachment: fixed;
}

.main h2{
    font-family: 'IM Fell French Canon SC', sans-serif;
    font-size: 5em;
    font-weight: 100;
    letter-spacing: 3px;
    color: whitesmoke;
    filter: drop-shadow(0px 1px 4px #252422);
}

.main h2 span{
    font-family: 'IM Fell French Canon SC', sans-serif;
    /*span is inline element, cannot put margin so we use dispaly*/
    display: inline-block;
    margin-top: 10px;
    padding-left: 10px;
    padding-left: 350px;
    color: whitesmoke;
}

.about {
    display: flex;
    justify-content: center;
    line-height: 4em;
}

.about p{
    width: 70%;
}

.about p span {
    font-family: 'IM Fell French Canon SC', sans-serif;
    padding-left: 200px;
    font-size: 2em;
    font-weight: 100;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.collection {
    background-color: #252422;
}

.collection-card {
    background-color: white;
    box-shadow: 0 5px 25px rgba(1 1 1/100%);
    max-height: 15em;
    width: 15em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
}

.collection-card img {
    width: 100%;
}

.collection button {
    padding: 10px;
}

.collection .buttons {
    display: flex; 
    justify-content: space-between;
}

.contact{
    background-color: white;
}
.contact .content{
    justify-content: space-between;
}

.title {
    font-weight: 100;
    margin-bottom: 30px;
}

.social-icons a{
    font-size: 1.7em;
    padding: 30px;
}

.email-input {
    position: relative;
}

.email-input a i {
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 3px;
}

.email-input input {
    padding: 10px;
    border: 1px #252422 solid;
    background-color: transparent;
}

.footer {
    background-color: #252422;
    color: #d5d2c5;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1em;
    font-weight: 200;
    color: #d5d2c5;
}

.footer-title i{
    color: #d5d2c5;
}

.footer a {
    text-decoration: none;
    color: #d5d2c5;
    font-weight: 200;
    padding: 0 12px 0 0;
}


@media (max-width:1023px){

    header{
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main h2 {
        font-size: 1em;
    }

    .main h2 span{
        padding-left: 50px;
    }

    .email-content {
        margin-top: 10px;
        margin-left: 30px;
    }

    .about p{
        width: 100%;
    }

    .about p span {
        padding-left: 50px;
        font-size: 1.5em;
    }

}

@media (max-width: 641px){

    body{
        /* means 1em = 12px */
        font-size: 12px;
    }

    .main h2{
        font-size: 3em;
    }

    .main h2 span{
        padding-left: 150px;
    }

}

@media (max-width: 850px){

    body{
        /* means 1em = 12px */
        font-size: 12px;
    }

    .main h2{
        font-size: 5em;
    }

    .main h2 span{
        padding-left: 150px;
    }

    .about p{
        width: 100%;
    }

    .about p span {
        padding-left: 100px;
        font-size: 2em;
    }

    .content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

}

@media (max-widht: 300px){
    body {
        /* means 1em = 10 px*/
        font-size: 10px;
    }
}

@media (max-width: 380px){

    body{
        /* means 1em = 12px */
        font-size: 12px;
    }

    .main h2{
        font-size: 3em;
    }

    .main h2 span{
        padding-left: 100px;
    }

    .about p{
        width: 100%;
    }

    .about p span {
        padding-left: 50px;
        font-size: 1.5em;
    }

    .social-content {
        margin-left: 30px;
    }

}

@media (max-width: 450px){

    body{
        /* means 1em = 12px */
        font-size: 12px;
    }

    .main h2{
        font-size: 3em;
    }

    .main h2 span{
        padding-left: 100px;
    }

    .about p{
        width: 100%;
    }

    .about p span {
        padding-left: 50px;
        font-size: 1.8em;
    }

    .social-content {
        margin-left: 30px;
    }

}

@media (max-width: 1300px){
    .main{
        background: url('images/bg2.png') no-repeat;
    }
}